# Файл дополнительной конфигурации веб-сервера
#
# @package   This file is part of the Kit.cms
# @author    Anton Popov <a.popov@kit.team>
# @copyright Kit.team <http://www.kit.team>
# @link      Kit.cms <http://www.kitcms.ru>

Deny from all
